# Project exclude paths
/.gradle/
/.idea/
/build/
/gradle/
gradlew
gradlew.bat
/model/.gradle/
/model/.idea/
/model/build/
/model/gradle/
/model/gradlew
/model/gradlew.bat
/client/.gradle/
/client/.idea/
/client/build/
/client/gradle/
/client/kotlin-js-store
/client/gradlew
/client/gradlew.bat
